@inject NotificationService NotificationService

@page "/PagPermisos"

<h3>Permisos</h3>
@* 
<RadzenDataGrid Data="@items" TItem="ListaPermisosModel">

<RadzenCard class="my-4">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="4px">
        <RadzenButton Click=@(args => OnClick(" ")) Text="Nuevo Permiso" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Info">  </RadzenButton>
    </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="fechaSolicitud" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
        Fecha
    </RadzenStack>
    <RadzenDatePicker @bind-Value=@fechaSolicitud ShowTime="true" DateFormat="dd/MM/yyyy" />

        <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="Id" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
        Folio
        <RadzenText @bind-Value="@Id" />
    </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="nombre" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
        Nombre
        <RadzenTextBox @bind-Value="@nombreEmp" />
    </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="clave" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
        Clave
        <RadzenTextBox @bind-Value="@claveEmp" />
    </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="departamento" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
        Departamento
        <RadzenTextBox @bind-Value="@departamento" />
    </RadzenStack>

    <RadzenCheckBox @bind-Value=@dias Name="dias" />
    <RadzenLabel Text="Días" Component="dias" Style="margin-left: 8px; vertical-align: middle;" />
    <RadzenCheckBox @bind-Value=@horas Name="horas" />
    <RadzenLabel Text="Horas" Component="horas" Style="margin-left: 8px; vertical-align: middle;" />

    <div class="rz-p-3 rz-text-align-fill">
       <select>
           <option value1="1">A cuenta de días de vacaciones</option>
           <option value2="2">A cuenta de días no laborales, laborados</option>
       </select>
    </div>
    <div class="rz-p-12 rz-text-align-fill">


            <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="fecha1" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
            Del Día
        </RadzenStack>
        <RadzenDatePicker @bind-Value=@fecha1 ShowTime="true" DateFormat="dd/MM/yyyy" />
        <b></b>
            <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="fecha2" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
            Al Día
        </RadzenStack>
        <RadzenDatePicker @bind-Value=@fecha2 ShowTime="true" DateFormat="dd/MM/yyyy" />
        <b></b>
            <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="hora1" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
            De la Hora
        </RadzenStack>
        <RadzenDatePicker @bind-Value=@hora1 ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
        <b></b>
            <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="hora2" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
            A la Hora
        </RadzenStack>
        <RadzenDatePicker @bind-Value=@hora2 ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />

    </div>


        <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="motivoPermiso" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
        Motivo Permiso
        <RadzenTextBox @bind-Value="@motivoPermiso" />
    </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" TItem="ListaPermisosModel" Property="diasAusente" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
        Permiso de Días para Ausentarse
        <RadzenText @bind-Value="@diasAusente" />
    </RadzenStack>

    @* <RadzenCheckBox @bind-Value=@ConSueldo Name="ConSueldo" />
    <RadzenLabel Text="Permiso Con Goce de Sueldo" Component="ConSueldo" Style="margin-left: 8px; vertical-align: middle;" />
    <RadzenCheckBox @bind-Value=@SinSueldo Name="SinSueldo" />
    <RadzenLabel Text="Permiso Sin Goce de Sueldo" Component="SinSueldo" Style="margin-left: 8px; vertical-align: middle;" /> *@



@* </RadzenCard> *@
 
    @* <Template Context="dato">
    <RadzenButton Icon="edit" Click="(()=>Editar(dato))" ButtonStyle="ButtonStyle.Warning" />
    <RadzenButton Icon="delete" Click="(()=>Eliminar(dato))" ButtonStyle="ButtonStyle.Danger" /> *@
    @* </Template> *@ 


@* </RadzenDataGrid> *@

@* <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
    <RadzenButton Click=@(args => OnClick("Primary button")) Text="Enviar Solicitud" ButtonStyle="ButtonStyle.Primary" />
    @* <RadzenLink Target="Index.razor" Text="Enviar Solicitud"/>  @*  Redirreccionar a otra pagina *@
@* </RadzenStack> *@
@* Condicionar el alert para que se muestre solo cuando se pulse el boton Enviar Solicitud *@
@* <RadzenAlert AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
    Tu Solicitud ha sido enviada Correctamente
</RadzenAlert> *@





@code {
    // List<ListaPermisosModel> items;  //ListaPermisosModel
    // PermisosManager permisosManager; //ListaPermisosModel

    // bool value1;
    // bool value2;
    // DateTime? fecha;
    // DateTime? fecha1;
    // DateTime? fecha2;
    // DateTime? hora1 = DateTime.Now;
    // DateTime? hora2 = DateTime.Now;

    //DateTime val;


    // Orientation orientation = Orientation.Horizontal;
    // AlignItems alignItems = AlignItems.Normal;
    // JustifyContent justifyContent = JustifyContent.Normal;
    // FlexWrap wrap = FlexWrap.NoWrap;
    // string gap = " ";
    // string gap1 = " ";
    // int idPermiso = 0;
    // string nombre = " ";
    // string clave = " ";
    // string departamento = " ";
    // string ConSueldo = " ";
    // string SinSueldo = " ";
    // string dias = " ";
    // string horas = " ";
    // string motivoPermiso = " ";
    // int diasAusente = 0;
    // string permConSueldo = " ";
    // string permSinSueldo = " ";
    // string pikerDias = " ";
    // bool reverse;

    private void OnClick(string text)
    {
        // NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Button Clicked", Detail = text });
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
       // permisosManager = FabricManager.PermisosManager();
        // List<string> dias = new List<string>();
        // dias.Add("A cuenta de días de vacaciones");
        // dias.Add("A cuenta de días no laborales, laborados");
        // pikerDias.ItemsSource = dias;

        Actualizar();

    }

    void Actualizar()
    {
       // items = null;
        //items = permisosManager.ObtenerPermiso();
        Actualizar();
    }


    async Task Editar(Permisos item)
    {
        string titulo = item.Id == 0 ? "Nuevo Permiso" : "Editar Permiso";
        //List<Permisos> permisos = permisosManager.ObtenerTodos;

        Permisos permiso;
        // if(item.Id == 0)
        // {
        //     permiso = new Permisos();
        // }
        // else
        // {
        //     //permiso = permisosManager.ObtenerPorId(item.Id);
        // }



    //     var result = await DialogService.OpenAsync(titulo, ds =>
    //  @<RadzenStack Gap="1.Srom">
    //      <div class="row">

    //          <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
    //              Fecha
    //          </RadzenStack>
    //          <RadzenDatePicker @bind-value=@item.fecha ShowTime="true" DateFormat="dd/mm/yyyy" />

    //          <div class="col-2">Folio</div>
    //          <div class="col-4"><RadzenText @bind-value=@item.Id class="w-100" /></div>
            
    //          <div class="col-2">Nombre</div>
    //          <div class="col-4"><RadzenTextBox @bind-value=@item.nombre class="w-100" /></div>
    //          <div class="col-2">Clave</div>
    //          <div class="col-4"><RadzenTextBox @bind-value=@item.clave class="w-100" /></div>
    //          <div class="col-2">Departamento</div>
    //          <div class="col-4"><RadzenTextBox @bind-value=@item.departamento class="w-100" /></div>

    //          <RadzenCheckBox @bind-value=@item.dias Name="dias" />
    //          <RadzenLabel Text="Días" Component="dias" Style="margin-left: 8px; vertical-align: middle;" />
    //          <RadzenCheckBox @bind-value=@item.horas Name="horas" />
    //          <RadzenLabel Text="Horas" Component="horas" Style="margin-left: 8px; vertical-align: middle;" />

    //          <div class="rz-p-3 rz-text-align-fill">
    //              <select>
    //              <option value1="1">A cuenta de días de vacaciones</option>
    //              <option value2="2">A cuenta de días no laborales, laborados</option>
    //              </select>
    //          </div>
    //          <div class="col-2">Días para Ausentarse</div>
    //          <div class="col-4"><RadzenText @bind-Value=@item.diasAusente class="w-100" /></div>

    //          <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
    //              Del Día
    //          </RadzenStack>
    //          <RadzenDatePicker @bind-Value=@item.fecha1 ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
    //          <b></b>
    //          <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
    //              Al Día
    //          </RadzenStack>
    //          <RadzenDatePicker @bind-Value=@item.fecha2 ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />

    //          <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
    //              De la Hora
    //          </RadzenStack>
    //          <RadzenDatePicker @bind-Value=@item.hora1 ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
    //          <b></b>
    //          <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="4px">
    //              A la Hora
    //          </RadzenStack>
    //          <RadzenDatePicker @bind-Value=@item.hora2 ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
    //          <div class="col-2">Motivo Permiso</div>
    //          <div class="col-4"><RadzenTextBox @bind-Value=@item.motivoPermiso class="w-100" /></div>
    //          <div class="col-2">Permiso Con Goce de Sueldo</div>
    //          <div class="col-4"><RadzenTextBox @bind-Value=@item.permConSueldo class="w-100" /></div>
    //          <div class="col-2">Permiso Sin Goce de Sueldo</div>
    //          <div class="col-4"><RadzenTextBox @bind-Value=@item.permSinSueldo class="w-100" /></div>

    //      </div>
    // </RadzenStack>

    // );

    }
}
